.modal__bg {
  min-width: 100vw;
  min-width: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 20;
}

.modal__card {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__body {
  text-align: center;
  padding: 1em;
}
