@font-face {
  font-family: 'LightRoboto';
  src: url('./fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'RegularRoboto';
  src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'MediumRoboto';
  src: url('./fonts/Roboto-Medium.ttf');
}

html,
body {
  font-family: RegularRoboto;
  font-size: 1.2em;
}

.container {
  width: 100%;
}
.form__input {
  width: 50%;
  position: relative;
}
.list-group {
  position: absolute;
  width: 100%;
  z-index: 10;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: lightgrey;
}

.holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
  padding-bottom: 2em;
}

.card {
  width: 150px;
  height: 150px;
}

.fav__list__holder {
  text-align: center;
}

.grid__holder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2em;
}

/*  Media queris  */
@media screen and (max-width: 1500px) {
  .grid__holder {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1200px) {
  .grid__holder {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .form__input {
    width: 80%;
  }
  .grid__holder {
    grid-template-columns: repeat(1, 1fr);
  }
  .holder {
    flex-direction: column;
    align-items: center;
  }
}
